In [1]:
#Each break in code means a new box in the server
import pandas as pd
import sqlalchemy as sa
import requests

In [2]:
db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       : '5432',
    'username'   : 'gabe15',
    'password'   : '2023!Schulich',
    'database'   : 'mban_db'
}

In [3]:
db_connection_url = sa.engine.URL.create(
    drivername = db_secret['drivername'],
    username   = db_secret['username'],
    password   = db_secret['password'],
    host       = db_secret['host'],
    port       = db_secret['port'],
    database   = db_secret['database']
)

In [4]:
db_connection_url

postgresql+psycopg2://gabe15:***@mmai5100postgres.canadacentral.cloudapp.azure.com:5432/mban_db

In [5]:
#Create an Engine
engine = sa.create_engine(db_connection_url)

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
with engine.connect() as connection:
    data = pd.read_sql(sql='SELECT * FROM dimensions.date_dimension;', con=connection)

,_id,report_date,previous_day_total_doses_administered,previous_day_at_least_one,previous_day_fully_vaccinated,previous_day_3doses,total_doses_administered,total_individuals_at_least_one,total_individuals_partially_vaccinated,total_doses_in_fully_vaccinated_individuals,total_individuals_fully_vaccinated,total_individuals_3doses
940,941,2023-07-30T00:00:00,623,29,19,27,38844184,12668575,460749,None,12207826,7691203
941,942,2023-07-31T00:00:00,226,6,4,15,38844410,12668581,460751,None,12207830,7691218
942,943,2023-08-01T00:00:00,1085,48,31,33,38845495,12668624,460768,None,12207856,7691247
943,944,2023-08-02T00:00:00,1395,72,54,56,38846890,12668696,460786,None,12207910,7691303
944,945,2023-08-03T00:00:00,1016,61,37,42,38847906,12668757,460810,None,12207947,7691345

In [ ]:
data = pd.read_sql(sql='SELECT * FROM dimensions.date_dimension;', con=engine)
data

In [ ]:
db_secret = {
    'drivername' : 'postgresql+psycopg2',
    'host'       : 'mmai5100postgres.canadacentral.cloudapp.azure.com',
    'port'       : '5432',
    'username'   : 'gabe15',
    'password'   : '2023!Schulich',
    'database'   : 'gabe15_db'
}

,new_doses,new_doses_unvaccinated,new_doses_one_vaccine,new_doses_two_vaccines,new_doses_three_vaccines
0,0.0,0.0,0.0,0.0,0.0
1,4615.0,64.0,2.0,4547.0,2.0
2,5396.0,7.0,3.0,5383.0,3.0
3,5995.0,3.0,-1.0,5994.0,-1.0
4,9687.0,27.0,20.0,9620.0,20.0
...,...,...,...,...,...
940,623.0,596.0,17.0,-7.0,17.0
941,226.0,220.0,4.0,-2.0,4.0
942,1085.0,1042.0,26.0,-9.0,26.0
943,1395.0,1323.0,54.0,-36.0,54.0
944,1016.0,955.0,37.0,-13.0,37.0

In [ ]:
db_connection_url = sa.engine.URL.create(
    drivername = db_secret['drivername'],
    username   = db_secret['username'],
    password   = db_secret['password'],
    host       = db_secret['host'],
    port       = db_secret['port'],
    database   = db_secret['database']
)

In [ ]:
print(db_connection_url)

In [ ]:
covid_19_vaccines['total_doses_administered'] = covid_19_vaccines['total_doses_administered'].map({'None': 0})
covid_19_vaccines['total_individuals_at_least_one'] = covid_19_vaccines['total_individuals_at_least_one'].map({'None': 0})
covid_19_vaccines['total_individuals_partially_vaccinated'] = covid_19_vaccines['total_individuals_partially_vaccinated'].map({'None': 0})
covid_19_vaccines['total_individuals_fully_vaccinated'] = covid_19_vaccines['total_individuals_fully_vaccinated'].map({'None': 0})
covid_19_vaccines['total_individuals_3doses'] = covid_19_vaccines['total_individuals_3doses'].map({'None': 0})